<section id="pages" class="navigation">
	<div class="title">
		Pages
	</div>
	<ul class="sortable">
		{{#each pages}}
		<li>
			<div class="pull-right label label-info">{{ this.Galleries.length }}</div>
			<a href="/editor/pages/{{ this.id }}">{{ this.title }}</a>
		</li>
		{{/each }}
		<li>
			<a href="/editor/pages">Add +</a>
		</li>
	</ul>
</section>

	<!-- <table class='table'>
		<thead>
			<tr>
				<th>
					Pages
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="page-drop sortable {{ this.class }}" data-pageID="{{ this.id }}">
				<td>

				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>

				</td>
			</tr>
		</tfoot>
	</table>
</section> -->
