<div class="container home gallery">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
      {{> navigationHome }}
			<div class="matrix fade eas">
  			{{#each Page.Galleries.0.Artworks }}
          <div class="matrix-item">
            <div class="img-wrapper">
              <a href="#" data-toggle="modal" data-target="#img-{{ this.id }}">
                <img src="{{ this.square }}">
              </a>
              <div class="modal" id="img-{{ this.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ this.title }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
										<div class="modal-body">
	                    <div class="arrow forward-one">
	                      <h1>
	                        <a href="#" class="forward-one">
	                          <i class="fa fa-angle-right"></i>
	                        </a>
	                      </h1>
	                    </div>
	                    <div class="arrow back-one">
	                      <h1>
	                        <a href="#" class="backward-one"><i class="fa fa-angle-left"></i></a>
	                      </h1>
	                    </div>
	                    <div class="modal-image modal-close">
	                      <img src="{{ this.display }}" />
	                    </div>
	                    <h5>{{ this.title }}</h5>
	                    <p>{{ this.description }}</p>
	                    {{#if this.size }}
	                    <p>{{ this.size }} / {{ this.medium }}</p>
	                    {{/if }}
	                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each }}
      </div>
		</div>

    <div class="col-sm-6 title vcenter">
        <h1>{{ Page.title }}</h1>
    </div>
	</div>
</div>
