<section id="pages" class="navigation">
	<table class='table'>
		<thead>
			<tr>
				<th>
					Galleries
				</th>
			</tr>
		</thead>
		<tbody>
			{{#if page.Galleries }}
				{{#each page.Galleries}}
				<tr class="gallery-drop sortable {{ this.class }}" data-galleryID="{{ this.id }}" >
					<td>
						<div class="pull-right label label-info">{{ this.Artworks.length }}</div>
						<a class="drag-item" data-galleryID="{{ this.id }}" href="/editor/pages/{{ ../page.id }}/galleries/{{ this.id }}">{{ this.title }}</a>
					</td>
				</tr>
				{{/each }}
			{{/if }}
		</tbody>
		<tfoot>
			<tr>
				<td>
					<a href="/editor/pages/{{ page.id }}/galleries">Add +</a>
				</td>
			</tr>
		</tfoot>
	</table>
</section>
