<section id="galleries" class="navigation">
	<div class="title">
		<a class="pull-right" href="/editor/pages/{{ page.id }}/galleries"><i class="fa fa-plus"></i></a>
		Galleries
	</div>
	<ul class="sortable galleries list">
		{{#each page.Galleries}}
		<li class="add-to-page gallery" data-type="galleries add-to-page" data-gid="{{ this.id }}" data-pid="{{ ../page.id }}">
			<div class="pull-right" style="padding-left: 7px">
				<a href="#" class="delete-gallery" data-id="{{ ../page.id }}" data-gid="{{ this.id }}">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<div class="pull-right label label-info">{{ this.Artworks.length }}</div>
			<a href="" class="handle"><i class="fa fa-ellipsis-v"></i></a>
			<a class="drag-item" data-galleryID="{{ this.id }}" href="/editor/pages/{{ ../page.id }}/galleries/{{ this.id }}">{{ this.title }}</a>
		</li>
		{{/each }}
	</ul>
</section>
