<div id="page-editor">
	{{#if page.title }}
		<div class="title">Edit {{ user.name }}</div>
	{{else }}
		<div class="title">Add User</div>
	{{/if }}
	<form action="/editor/users" method="post">
		<div class="form-group">
			<label for="title">Full Name</label>
			<input class="form-control input-lg" type="text" name="name" value="{{ user.name }}" placeholder="User full name">
		</div>
		<div class="form-group">
			<label for="title">Email</label>
			<input class="form-control input-lg" type="text" name="email" value="{{ user.email }}" placeholder="User email.">
		</div>
		<div class="form-group">
			<label for="title">Password</label>
			<input class="form-control input-lg" type="password" name="password" value="{{ user.password }}" placeholder="general, etc.">
		</div>
		<input type="hidden" name="id" value="{{ page.id }}">
		<button class="btn btn-lg btn-success btn-block">Add/Update User</button>
	</form>
</div>