<div id="gallery-editor">
	{{#if artwork.title }}
		<div class="title">Edit {{ artwork.title }}</div>
	{{else }}
		<div class="title">Add Artwork <a href="" class="pull-right" data-show=".add-artwork">View All</a></div>
	{{/if }}
	<div class="artwork">
		<img class="selected-image" src="{{ artwork.display }}" style="height: 300px" />
	</div>
	<form action="/editor/pages/{{ page.id }}/galleries/{{ gallery.id }}/artworks" method="POST">
		<div class="form-group dropbox">
			<label>Image</label><br />
			<input type="hidden" name="full" value="{{ artwork.full }}" class="upload" />
			<input type="hidden" name="display" value="{{ artwork.display }}" class="upload" />
			<input type="hidden" name="square" value="{{ artwork.square }}" class="upload" />
		</div>
		<div class="form-group">
			<label>Title</label>
			<input class="input-lg form-control" placeholder="Artwork Title" name="title" value="{{ artwork.title }}">
		</div>
		<div class="form-group">
			<label>Piece ID</label>
			<input class="input-lg form-control" placeholder="1234" name="pieceId" value="{{ artwork.pieceId }}">
		</div>
		<div class="form-group">
			<label>Size</label>
			<input class="input-lg form-control" placeholder="Artwork Size" name="size" value="{{ artwork.size }}">
		</div>
		<div class="form-group">
			<label>Medium</label>
			<input class="input-lg form-control" placeholder="Artwork Medium" name="medium" value="{{ artwork.medium }}">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea rows="12" class="input-sm form-control" placeholder="Description" name="description">{{ artwork.description }}</textarea>
		</div>
		<input type="hidden" name="id" value="{{ artwork.id }}">
		<button class="btn btn-lg btn-block btn-info">Add/Update Work</button>
	</form>
</div>
