<section id="artworks" class="navigation">
	<table class='table'>
		<thead>
			<tr>
				<th>
					Artworks
				</th>
			</tr>
		</thead>
		<tbody>
			{{#if gallery.Artworks }}
				{{#each gallery.Artworks}}
				<tr class="{{ this.class }}">
					<td>
						<a class="drag-item" data-artworkID="{{ this.id }}" href="/editor/pages/{{ ../page.id }}/galleries/{{ ../gallery.id }}/artworks/{{ this.id }}">
							<img src="{{ this.square }}" style="max-width: 18px; border-radius: 15px"> {{ this.title }}
						</a>
					</td>
				</tr>
				{{/each }}
			{{/if }}
		</tbody>
		<tfoot>
			<tr>
				<td>
					<a href="/editor/pages/{{ page.id }}/galleries/{{ gallery.id }}/artworks">Add +</a>
				</td>
			</tr>
		</tfoot>
	</table>
</section>
