<section id="artworks" class="navigation">
	<div class="title">
		<a class="pull-right" href="/editor/pages/{{ page.id }}/galleries/{{ gallery.id }}/artworks">
			<i class="fa fa-plus"></i>
		</a>
		Artworks
	</div>
	<ul class="sortable artworks list">
		{{#each gallery.Artworks}}
		<li class="add-to-gallery artwork" data-type="artworks" data-aid="{{ this.id }}" data-gid="{{ ../this.gallery.id }}" data-pid="{{ ../this.page.id }}">
			<div class="pull-right"><a href="#" class="delete-art">
				<a href="#" class="delete-art" data-gid="{{ ../gallery.id }}" data-aid="{{ this.id }}">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<a href="" class="handle"><i class="fa fa-ellipsis-v"></i></a>
			<a class="drag-item" data-artworkID="{{ this.id }}" href="/editor/pages/{{ ../page.id }}/galleries/{{ ../gallery.id }}/artworks/{{ this.id }}">
				<img src="{{ this.square }}" style="width: 18px; height: 18px; border-radius: 15px"> 
				{{ this.title }}
			</a>
		</li>
		{{/each }}
	</ul>
</section>
