<div id="gallery-editor">
	{{#if artwork.title }}
		<div class="title">Edit {{ artwork.title }}</div>
	{{else }}
		<div class="title">Add Artwork <a href="" class="pull-right" data-show=".add-artwork">View All</a></div>
	{{/if }}
  <div class="matrix">
  	{{#if Artworks }}
  		{{#each Artworks}}
        <div class="matrix-4">
  				<a class="drag-item" data-artworkID="{{ this.id }}" href="/editor/pages/{{ ../page.id }}/galleries/{{ ../gallery.id }}/artworks/{{ this.id }}">
  					<div class="img-holder">
              <img src="{{ this.square }}">
              <div class="img-title">
                {{ this.title }}
              </div>
            </div>
  				</a>
        </div>
  		{{/each }}
  	{{/if }}
  </div>
</div>
